<% include partials/_header %>
<div class="container">
  <div class="row">
    <div class="col-md-11 centrar">
      <table class="table table-bordered table-hover">
        <thead class="cabecera">
          <tr>
            <th>N°</th>
            <th>Título</th>
            <th>Versionado</th>
            <th>Duración</th>
            <th colspan="2">Disco</th>
            <th>Intérprete</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < canciones.length; i++) { %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td><strong>
                <a href="/verCancion/<%= canciones[i]._id %>">
                  <%= canciones[i].tit_cancion %>
                </a>
              </strong></td>
              <% if (canciones[i].num_cancion) { %>
                <td><%= canciones[i].num_cancion %></td>
              <% } else { %>
                <td><%= canciones[i].del_disco.interprete.nombre %></td>
              <% } %>
              <td class="centrar-texto"><%= canciones[i].dur_cancion %></td>
              <td>
                <a href="/verDisco/<%= canciones[i].del_disco._id %>">
                  <%= canciones[i].del_disco.titulo %>
                </a>
              </td>
              <td>
                <a href="/verDisco/<%= canciones[i].del_disco._id %>">
                  <img src="<%= canciones[i].del_disco.caratula %>" alt="" width="60px">
                </a>
              </td>
              <td>
                <a href="/verCantante/<%= canciones[i].del_disco.interprete._id %>">
                  <%= canciones[i].del_disco.interprete.nombre %>
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <div class="row">
        <% if(paginas) { %>
          <nav class="mx-auto">
            <ul class="pagination">
              <!--primera página-->
              <% if(current == 1) { %>
                <li class="page-item disabled">
                  <a href="#" class="page-link">Primera página</a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a href="/canciones/1" class="page-link">Primera página</a>
                </li>
              <% } %>
              <!--Páginas intermedias-->
              <% var i = Number(current) > 5 ? Number(current) - 4 : 1 %>	
              <% if(i !== 1) { %>
                <li class="page-item disabled">
                  <a href="#" class="page-link">...</a>
                </li>
              <% } %>
              <% for(; i<=Number(current)+4 && i<=paginas; i+=1) { %>
                <% if(i == current) { %>
                  <li class="page-item active">
                    <a href="<%= i %>" class="page-link"><%= i %></a>
                  </li>
                <% } else { %>
                  <li class="page-item">
                    <a href="/canciones/<%= i %>" class="page-link"><%= i %></a>
                  </li>
                <% } %>
              <% if(i == Number(current) + 4 && i < paginas) { %>
                <li class="page-item disabled">
                  <a href="#" class="page-link">...</a>
                </li>
              <% } %>
                <%} %>
              <!--última página-->
              <% if(current == paginas) { %>
                <li class="page-item disabled">
                  <a href="#" class="page-link">Ultima página</a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a href="/canciones/<%= paginas %>" class="page-link">Ultima página</a>
                </li>
              <% } %>
            </ul>
          </nav>
        <% } %>
      </div>
    </div>
  </div>
  <div class="card-body centrar-texto">
    <a href="/" class="btn btn-volver">
      Volver
    </a>
  </div>
</div>
<% include partials/_footer %>